<style>
    @media print
    {
        .print-hide
        {
            display:none;
        }
    }
    .print-table
    {
        width:100%;
        font-size: small;
        font-family: '宋体';
        font-weight: bold;
        color:#000;
    }
    /*.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th*/
    /*{*/
        /*border:1px solid #000 !important;*/
    /*}*/

    tr[size="FTD"] {
        width:100%;
    }
    tr[size="FTD"] > td {
        background:url( 'images/courier_template/FTD_Final.png' );
        /*background:url( 'http://www.xiaohuilang.com/service/template/wof/2015/01/201579pn1334352oo.jpg' );*/
        background-size: 100%;
        background-repeat:no-repeat;
        width: 237mm;
        /*width:1020px;*/
        height: 151mm;
        /*height:660px;*/
        display: block;
        margin: 0 auto;
        /*margin-bottom: 5mm;*/
        box-shadow: 0 0 5mm rgba(0,0,0,0.5);
        position:relative;
    }
    @media print {
        body, tr[size="FTD"] {
            margin: 0;
            box-shadow: 0;
        }
        .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th
        {
            border:1px solid #000 !important;
        }
    }

    /* 开始：快递单布局
     */
    .posting_date
    {
        position:absolute;
        left:26mm;
        top:28mm;
        font-size:3.175mm;
    }
    .posting_date_month
    {
        margin-left:3.5mm;
    }
    .posting_date_day
    {
        margin-left:5mm;
    }
    .to
    {
        left:135mm;
        top:27mm;
        font-size:4.7625mm;
    }
    .from
    {
        left:38mm;
        top:35mm;
        font-size:4.7625mm;
    }
    .external_sn
    {
        left:65mm;
        top:52mm;
        font-size:4.7625mm;
    }
    .address
    {
        left:135mm;
        top:53mm;
        font-size:4.7625mm;
        width:74.08333333333mm;
        height:18.52083333333mm;
        overflow: hidden;
    }
    .phone
    {
        left:150mm;
        top:70mm;
        font-size:3.175mm;
        width:52.91666666667mm;
        height:3.175mm;
        overflow:hidden;
    }
    .contents
    {
        left:20mm;
        top:88mm;
        font-size:3.175mm;
        width:84.66666666667mm;
        height:17.4625mm;
        overflow:hidden;
    }
    .posting_date,
    .to,
    .from,
    .external_sn,
    .address,
    .phone,
    .contents
    {
        position:absolute;
    }
</style>

<ol class="breadcrumb print-hide">
    <li><a ui-sref="dashboard">首页</a></li>
    <li><a ui-sref="shipment">发货单管理</a></li>
    <li class="active">快递单打印</li>
</ol>


<table class="print-table" ng-show="page">
    <tbody>
    <tr size="FTD" ng-repeat="shipment in page.content">
        <td>

            <!-- 收寄日期 -->
            <span class="posting_date">
                {{ postingDate.getFullYear() }}
                <span class="posting_date_month">
                    {{ postingDate.getMonth() + 1 }}
                </span>
                <span class="posting_date_day">
                    {{ postingDate.getDate() }}
                </span>
            </span>

            <!-- 收件人 -->
            <span class="to">
                {{ shipment.receiveName }}
            </span>

            <!-- 寄件人 -->
            <span class="from">
                M
            </span>

            <!-- 店铺外部订单号 -->
            <span class="external_sn">
                {{ shipment.externalSn }}
            </span>

            <!-- 地址 -->
            <span class="address">
                {{ shipment.receiveAddress }}
            </span>

            <!-- 电话 -->
            <div class="phone">
                {{ shipment.receivePhone }}
            </div>

            <!-- 物品 -->
            <div class="contents">
                <span ng-repeat="mergedItem in shipment.mergedItems track by $index">
                    {{ mergedItem.printName }} * {{ mergedItem.qtyShipped }}&nbsp;&nbsp;
                </span>
            </div>

        </td>
    </tr>
    </tbody>
</table>