<style>
    @media print
    {
        .print-hide
        {
            display:none;
        }
    }
    .print-table
    {
        width:100%;
        font-size: small;
        font-family: '宋体';
        font-weight: bold;
        color:#000;
    }
    .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th
    {
        border:1px solid #000 !important;
    }

    tr[size="FTD"] {
        background:url( 'images/courier_template/FTD_Final.png' );
        /*background:url( 'http://www.xiaohuilang.com/service/template/wof/2015/01/201579pn1334352oo.jpg' );*/
        background-size: 100%;
        background-repeat:no-repeat;
        width: 27cm;
        height: 17.5cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    @media print {
        body, tr[size="FTD"] {
            margin: 0;
            box-shadow: 0;
        }
        .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th
        {
            border:1px solid #000 !important;
        }
    }

    /* 开始：快递单布局
     */
    .posting_date
    {
        position:absolute;
        top:120px;
        left:118px;
        font-size:12px;
    }
    .posting_date_month
    {
        margin-left:15px;
    }
    .posting_date_day
    {
        margin-left:22px;
    }
    .to
    {
        top:110px;
        left:576px;
        font-size:18px;
    }
    .from
    {
        top:140px;
        left:150px;
        font-size:18px;
    }
    .external_sn
    {
        top:230px;
        left:280px;
        font-size:18px;
    }
    .address
    {
        top:192px;
        left:576px;
        font-size:18px;
        width:280px;
        height: 70px;
        overflow: hidden;
    }
    .phone
    {
        top:305px;
        left:640px;
        font-size:12px;
        width:200px;
        height:12px;
        overflow:hidden;
    }
    .contents
    {
        top:380px;
        left:80px;
        font-size:12px;
        width:320px;
        height:66px;
        overflow:hidden;
    }
    .posting_date,
    .to,
    .from,
    .external_sn,
    .address,
    .phone,
    .contents
    {
        position:absolute;
    }
</style>

<ol class="breadcrumb print-hide">
    <li><a ui-sref="dashboard">首页</a></li>
    <li><a ui-sref="shipment">发货单管理</a></li>
    <li class="active">快递单打印</li>
</ol>


<table class="print-table" ng-show="page">
    <tbody>
    <tr size="FTD" ng-repeat="shipment in page.content">
        <td style="width:23cm; position:relative;">

            <!-- 收寄日期 -->
            <span class="posting_date">
                {{ postingDate.getFullYear() }}
                <span class="posting_date_month">
                    {{ postingDate.getMonth() + 1 }}
                </span>
                <span class="posting_date_day">
                    {{ postingDate.getDate() }}
                </span>
            </span>

            <!-- 收件人 -->
            <span class="to">
                {{ shipment.receiveName }}
            </span>

            <!-- 寄件人 -->
            <span class="from">
                M
            </span>

            <!-- 店铺外部订单号 -->
            <span class="external_sn">
                {{ shipment.externalSn }}
            </span>

            <!-- 地址 -->
            <span class="address">
                {{ shipment.receiveAddress }}
            </span>

            <!-- 电话 -->
            <div class="phone">
                {{ shipment.receivePhone }}
            </div>

            <!-- 物品 -->
            <div class="contents">
                <span ng-repeat="mergedItem in shipment.mergedItems track by $index">
                    {{ mergedItem.printName }} * {{ mergedItem.qtyShipped }}&nbsp;&nbsp;
                </span>
            </div>

        </td>
    </tr>
    </tbody>
</table>