<ol class="breadcrumb">
    <li><a ui-sref="dashboard">首页</a></li>
    <li><a ui-sref="supplierProduct">供应商产品管理</a></li>
    <li class="active">{{actionLabel}}供应商产品</li>
</ol>
<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">供应商产品</h3>
        </div>
        <div class="panel-body">
            <h4 class="text-success">
                <strong>供应商产品详情</strong>
            </h4>
        </div>
        <hr style="margin:0">
        <div class="panel-body">
            <form name="supplierProductForm" class="form-horizontal" ng-submit="saveSupplierProduct(supplierProductForm, supplierProduct)" novalidate co-form-validation messages-url="views/error-messages.html">
                <div class="form-group">
                    <label class="control-label col-md-2">供应商 <span class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <ui-select ng-model="supplierProduct.supplier">
                            <ui-select-match placeholder="(必选)">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="supplier in suppliers | filter: $select.search">
                                <div ng-bind-html="supplier.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">产品 </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="productId" ng-model="supplierProduct.product" placeholder="(选填，输入商品名称或SKU)" ng-minlength="1" ng-maxlength="50" uib-typeahead="product as product.name + '(' + product.sku + ')' for product in getProduct($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-wait-ms="350" />
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">供应商产品名称 <span class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="supplierProductName" ng-model="supplierProduct.supplierProductName" placeholder="(必填)" required ng-minlength="1" ng-maxlength="50" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">供应商产品编号 <span class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="supplierProductCode" ng-model="supplierProduct.supplierProductCode" placeholder="(必填)" required ng-minlength="1" ng-maxlength="50" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">供应商产品条码 <span class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="supplierProductBarcode" ng-model="supplierProduct.supplierProductBarcode" placeholder="(必填)" required ng-minlength="1" ng-maxlength="50" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">默认采购价格 </label>
                    <div class="col-md-4">
                        <input type="number" class="form-control" name="defaultPurchasePrice" ng-model="supplierProduct.defaultPurchasePrice" placeholder="(选填)" ng-minlength="1" ng-maxlength="50" ng-blur="rebuildPriceNumeric(supplierProduct, 'defaultPurchasePrice')"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">商品在超市的放置位置 </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="productPlace" ng-model="supplierProduct.productPlace" placeholder="(选填)" ng-minlength="1" ng-maxlength="50" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-floppy-saved"></span> 保存
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
